<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="import/cssImport.html :: css-import"></div>
<link rel="stylesheet" href="/css/lsy.css">
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	var onlineClassId = '[[${onlineClass.onlineClassId}]]';
	var onlineFileId = '[[${classFile.onlineClassFileId.onlineFileId}]]';
    var video = document.getElementById('video');

    //미디어 로드되고 준비 완료 시 비디오 총 영상 길이 출력(video.duration)
    video.addEventListener('loadedmetadata', function(){
        var videoDuration = formatDate(video.duration);
        console.log("총 영상 길이 : " + video.duration);
	});
    
    video.addEventListener('play', () => {
            console.log("비디오 재생");
            var currentTime = Math.floor(video.currentTime);
            var formData = new FormData();
			formData.append("onlineClassId", onlineClassId);
			formData.append("onlineFileId", onlineFileId);
			formData.append("onlineLogCurr", currentTime);
			$.ajax({
				url:"/onlinePlay",
				method:"POST",
				data:formData,
				processData : false,
	            contentType : false,
	            cache: false,
	            enctype: 'multipart/form-data',  
				success:function(){
					console.log("총 영상 길이 : " + video.duration + ", 현재 재생 위치 : " + video.currentTime);
				},
				error:function(){
					console.log("로그 저장 실패");
				}
			});

            var timer = setInterval(() => {
	            logUpload();
            },5000);
            video.addEventListener('pause', () => {
                    console.log("비디오 정지");
                    clearInterval(timer);
                    logUpload();
            });
    });
    
	//영상 종료
	video.addEventListener('ended', () => {
		logUpload();	
		if(confirm("다음 강의를 이어서 시청하시겠습니까?") == true){
	    	location.href="/onlinePlay?classId=[[${onlineClass.onlineClassId}]]&fileId=[[${classFile.onlineClassFileId.onlineFileId}+1]]";
	    }
	});
        
	function formatDate(seconds) {
	  var secondsNumber = parseInt(seconds, 10)
	  var hours = Math.floor(secondsNumber / 3600)
	  var minutes = Math.floor((secondsNumber - hours * 3600) / 60)
	  var totalSeconds = secondsNumber - hours * 3600 - minutes * 60
	
	  if (hours < 10) {
	    hours = `0${hours}`
	  }
	  if (minutes < 10) {
	    minutes = `0${minutes}`
	  }
	  if (totalSeconds < 10) {
	    totalSeconds = `0${totalSeconds}`
	  }
	  return `${hours}:${minutes}:${totalSeconds}`
	}
	
	function logUpload(){
		console.log(video.currentTime);
        var currentTime = Math.floor(video.currentTime);
        var formData = new FormData();
		formData.append("onlineClassId", onlineClassId);
		formData.append("onlineFileId", onlineFileId);
		formData.append("onlineLogCurr", currentTime);
		$.ajax({
			url:"/onlinePlay",
			method:"PUT",
			data:formData,
			processData : false,
            contentType : false,
            cache: false,
            enctype: 'multipart/form-data',  
			success:function(){
				console.log("총 영상 길이 : " + formatDate(video.duration) + ", 현재 재생 위치 : " + formatDate(video.currentTime));
			},
			error:function(){
				console.log("로그 업데이트 실패");
			}
		});
	}
});

</script>
</head>
<body>
<!--사용자 네비게이션-->
	<!--메뉴 네비게이션-->
<div th:insert="import/topImport2.html :: top-import"></div>
	<!--메뉴 네비게이션-->
<!--사용자 네비게이션-->
<!-- <section class="container">
</section>-->
<section class="container">
    <div class="video-section w-100 ">
		<div class="video-button-area ftco-animate col-md-12">
			<!--<button type="button" th:onclick="|location.href='@{/onlinePlayList(classId=${onlineClass.onlineClassId})}'|">재생목록</button>-->
			<button type="button" th:onclick="|location.href='@{/user/mypage/{id}/onlinelecturelist (id=${session.SPRING_SECURITY_CONTEXT.Authentication.Name})}'|">수강목록</button>
  		</div>
	  	
      <div class="video-container ftco-animate col-md-12">
        <div class="video-contents col-md-8">
          <div class="video-area">
            <video id="video" controlsList="nodownload" controls playsinline muted>
              <source th:src="|@{'/video/' + ${videoFileName} + '#t=' + ${index}}|"  type="video/mp4" />	<!--확장자명 뒤에 #t=숫자 / 입력하면 시작 위치 지정-->
            </video>
          </div>
          <div class="video-comment">
            <div class="comment-title">
              <h5 class="me-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-circle-fill mb-1" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814z"/>
              </svg>[[${classFile.onlineClassFileId.onlineFileId}]]강.</h5>
              <h5 style="color:rgb(98, 98, 98);">[[${classFile.onlineFileOrgName}]]</h5>
            </div>
            <div class="comment-comments">[[${classFile.onlineFileContent}]]</div>
          </div>
        </div>
        <div class="video-contents col-md-4">
          <div class="video-list-title align-items-center">
            <h5><span class="icon-check" style="color:#89dd18;"></span> 강의명</h5>
            <h6 class="mb-2">[[${onlineClass.onlineClassTitle}]]</h6>
            <h5><span class="icon-check" style="color:#89dd18;"></span> 강사</h5>
            <h6 >[[${onlineClass.instructorNickname}]]</h6>
          </div>
          <div class="video-list-area">
            <h6 class="mb-1"><b><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
            </svg>
              재생목록</b></h6>
            <p class="ms-3">총 강의 수 : [[${classFile.onlineClassFileId.onlineFileId}]] / [[${classCnt}]]</p>
          </div>
          <div class="video-list scroll">
          
            <!--온라인 강의 재생목록-->
            <div class="video-item col-12" th:each='item:${classList}' th:style="${item.onlineClassFileId.onlineFileId == classFile.onlineClassFileId.onlineFileId} ? 'filter: brightness(80%);' : ''">
              <div class="col-4 video-img-area">
                <a class="video-imgBtn" th:href="@{/onlinePlay(classId=${item.onlineClassFileId.onlineClassId}, fileId=${item.onlineClassFileId.onlineFileId})}"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-play-fill" viewBox="0 0 16 16">
                  <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393" />
                </svg></a>
                <a class="video-img" th:href="@{/onlinePlay(classId=${item.onlineClassFileId.onlineClassId}, fileId=${item.onlineClassFileId.onlineFileId})}" > 
                	<img class="video-img" th:src="|@{'/video/' + ${item.onlineClassFileId.onlineClassId} + '_' + ${item.onlineClassFileId.onlineFileId} + '강_' + ${item.onlineFileOrgName} + '.png'}|">
                </a>
              </div>
              <div class="col-8 video-title-area">
              <a th:href="@{/onlinePlay(classId=${item.onlineClassFileId.onlineClassId}, fileId=${item.onlineClassFileId.onlineFileId})}">
                <p class="title-num">[[${item.onlineClassFileId.onlineFileId}]]강</p>
                <p class="title-con">[[${item.onlineFileOrgName}]]</p>
              </a>
              </div>
            </div>

          </div>
        </div> 
      </div>
    </div>
  </section>
	<div th:if="${session?.SPRING_SECURITY_CONTEXT?.Authentication?.Authorities != null}" class="ftco-footer-widget mb-4 ml-4">
		<button id="btn-chat" title="채팅" onclick="javascript:window.open('/chat/chatList', '/chat/chatList',
		'toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=no,width=500px,height=550px,left=100,top=100')">
			<img src="/images/icon-chat.png" alt="chat">
		</button>
	</div>
	<button onclick="backToTop()" id="btn-back-to-top" title="맨 위로">
		<img src="/images/icon-arrow-top.png" alt="top">
	</button>
	
	<div th:replace="import/jsImport.html :: js-import"></div>
</body>
</html>